
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block scripts %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}
{% endblock %}
{#{% block navbar %}#}
{#{{ super() }}#}
{#    <img  src="{{ url_for('static',filename='t.png') }} " width="100%" height="18"/>#}
{#{% endblock %}#}

{% block content %}
</br>
</br>
</br>
</br>
</br>

            <div class="col-md-2 column">
            </div>
            <div class="col-md-5 column">
                {% for post in posts %}
                    <hr>
<div>
                    <h2>
                        <a style=" text-decoration: none; color: inherit;" href='{{ url_for("main.post",id=post.id) }}'>
                            {{ post.title }}
                        </a>
                    </h2>
                    <div style="float:right" class="panel-body" >
                    <img  src="{{ url_for('static',filename='clock.png') }} " width="18" height="18"/>
                    {{ moment(post.timestamp).fromNow(refresh=True) }}
<br/>
                    <img  src="{{ url_for('static',filename='folder.png') }} " width="18" height="18"/>
                    {{ post.type }}
                    </div>

                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                {% endfor %}
                {{ wtf.quick_form(form) }}
    <ul class="pagination">
        {% if pagination.page== 1 %}
            <li class="disabled"><a href="#">&laquo;</a></li>
        {% else %}
            <li><a href='{{ url_for('main.hello_world',page= pagination.prev_num) }}'>&laquo;</a></li>
        {% endif %}
        {% for i in range(pagination.pages) %}
            <li><a href="{{ url_for('main.hello_world',page=i+1 )}}"> {{ i+1 }} </a></li>
        {% endfor %}
        {% if pagination.page== pagination.pages %}

            <li class="disabled"><a href="#">&raquo;</a></li>
        {% else %}
            <li><a href='{{ url_for('main.hello_world',page= pagination.next_num) }}'>&raquo;</a></li>
        {% endif %}
    </ul>
                </div>
                <div class="col-md-3 column">
                    <img  src="{{ url_for('static',filename='head.jpg')}}" width="140" height="140"/>
                    <div class="panel-group" id="panel-137778">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-137778"
                                   href="#panel-element-802710">About me</a>
                            </div>
                            <div id="panel-element-802710" class="panel-collapse collapse">
                                <div class="panel-body">
                                    None
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-137778"
                                   href="#panel-element-478169">Github</a>
                            </div>
                            <div id="panel-element-478169" class="panel-collapse collapse">
                                <div class="panel-body">
                                    StonyMoon
                                </div>
                            </div>
                        </div>
                    </div>
<br/>
                    <br/>
                    <br/>
                    <br/>
                <div class="list-group">
  <a href="#" class="list-group-item active">
    目录
  </a>
  <a href="{{ url_for('main.select',type='随笔')}}" class="list-group-item">随笔
  </a>
  <a href="{{ url_for('main.select',type='读书笔记')}}" class="list-group-item">读书笔记
  </a>
                    <a href="{{ url_for('main.select',type='翻译')}}" class="list-group-item"> 翻译
  </a>
</div>

                </div>


{% endblock %}